.cabecalho {
    padding: 10px 5px;
    background-color: #810082;
}

.cabecalho .logo {
    display: inline-block;
    width: 80px;
}

.cabecalho nav {
    float: right;

}

.cabecalho .botoes {
    display: inline-block;
    padding: 15px;
    margin: 10px;
    color: white;
    background-color: #4d064d;
    border-radius: 10px;

}

.botoes:hover {
    background-color: #019C00;
    border-radius: 10px;
}

.area-principal {
    background-color: #53067A;
    height: 1300px;
}

.text-image {
    position: absolute;
    width: 600px;
    left: 100px;
}

.acai-image {
    position: absolute;
    width: 500px;
    left: 700px;
}

.arrow-icon {
    position: absolute;
    width: 150px;
    left: 300px;
    bottom: 150px;
}

.cardapio {
    position: absolute;
    left: 200px;
    top: 600px;
}

.formas-de-pagamento {
    position: absolute;
    text-align: center;
    color: white;
    top: 1250px;
    left: 420px;
}

.logos-pagamento {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.logos-pagamento:hover {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

footer {
    border: double 10px white;
    background-color: #53067A;
    color: white;
}

.informacoes {
    text-align: left;
    margin: 5px;
    color: white;
}

.logo-redes-sociais {
    margin: 5px;
}

.creditos {
    text-align: center;
    margin-bottom: 5px;
    text-decoration: underline;
    margin-top: 20px;
}

.link {
    color: white;
}

@media (max-width: 576px) {
    .cabecalho {
        padding: 10px 5px;
        background-color: #810082;
    }

    .cabecalho .logo {
        display: inline-block;
        width: 80px;
    }

    .cabecalho nav {
        float: right;
    }

    .cabecalho .botoes {
        display: inline-block;
        padding: 8px;
        margin: 9px;
        color: white;
        background-color: #4d064d;
        border-radius: 10px;
    }

    .botoes:hover {
        background-color: #019C00;
        border-radius: 10px;
    }

    .area-principal {
        background-color: #53067A;
        height: 1000px;
    }

    .text-image {
        width: 500px;
        left: 5px;
    }

    .acai-image {
        width: 270px;
        left: 100px;
        top: 240px;
    }

    .arrow-icon {
        left: 160px;
    }

    .cardapio {
        position: absolute;
        width: 300px;
        left: 65px;

    }

    .formas-de-pagamento {
        left: 200px;
    }

    .logos-pagamento {
        display: inline-block;
    }

    .logo {
        width: 20px;
    }

    .logos-pagamento:hover {
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        -webkit-transform: scale(1.2);
        transform: scale(1.1);
        cursor: pointer;
    }

    footer {
        border: double 5px white;
        background-color: #53067A;
        color: white;
    }

    .informacoes {
        text-align: left;
        margin: 2px;
        color: white;
    }

    .logo-redes-sociais {
        margin: 2px;

    }

    .creditos {
        text-align: center;
        margin-bottom: 5px;
        text-decoration: underline;
    }

    .link {
        color: white;
    }
}